AUTH_SERVICE_BASE_URL=http://localhost:5001
NEXT_PUBLIC_NDI_DEFAULT_DEEP_LINK=bhutanndi://proof-request?threadId=mock-thread-id
NEXT_PUBLIC_NDI_DEFAULT_PROOF_REQUEST_URL=https://staging.bhutanndi.com/qr/mock-qr-code
NEXT_PUBLIC_BIRTH_DEATH_SERVICE_URL=http://localhost:5004

# Common Service (CMS Backend API)
COMMON_SERVICE_URL=http://localhost:5003
NEXT_PUBLIC_COMMON_SERVICE_URL=http://localhost:5003

# citizen main registry service
NEXT_PUBLIC_CITIZEN_MAIN_REGISTRY_SERVICE_URL=http://localhost:5006

# amendment service
NEXT_PUBLIC_AMENDMENT_SERVICE_URL=http://localhost:5008

# issuance service
NEXT_PUBLIC_ISSUANCE_SERVICE_URL=http://localhost:5010

# Revalidation Secret (must match Admin Portal)
REVALIDATE_SECRET=census-revalidate-secret-2026

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=otuulZyEsDzRJUKd8EgMcrJyImrgfCFosNlTUb2W16k=

# amendment service
NEXT_PUBLIC_PAYMENT_NOTIFICATION_SERVICE_URL=http://localhost:5007

#NRM service 
NEXT_PUBLIC_NRM_SERVICE_URL=http://localhost:5007